
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/SMGG/v16/.suo
.vs/SMGG/v16/Browse.VC.db
.vs/Sterllaris MultiGalaxy Generator/v16/.suo
.vs/Sterllaris MultiGalaxy Generator/v16/Browse.VC.db
.vs/Sterllaris MultiGalaxy Generator/v16/Browse.VC.db-shm
.vs/Sterllaris MultiGalaxy Generator/v16/Browse.VC.db-wal
.vs/Sterllaris MultiGalaxy Generator/v16/Browse.VC.opendb
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/1c370b3ca040e98b/06_EXTENSION_LIBRARIES_AND_LOADING_OTHER_IMAGE_FORMATS.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/1c9d3654ae6d88e/17_MOUSE_EVENTS.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/1cf448a47f4308fd/32_TEXT_INPUT_AND_CLIPBOARD_HANDLING.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/1f85775e85d8bb8c/17_MOUSE_EVENTS.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/223b1b13a30bb1c9/32_TEXT_INPUT_AND_CLIPBOARD_HANDLING.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/2b69877ec2bf70e4/MAIN.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/3075be41fe600a6d/IMGUI_IMPL_GLFW.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/31dd77079f146ed/11_CLIP_RENDERING_AND_SPRITE_SHEETS.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/3943faac7064c48/32_TEXT_INPUT_AND_CLIPBOARD_HANDLING.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/40d958467969ac83/09_THE_VIEWPORT.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/4197c7a39b2a5476/32_TEXT_INPUT_AND_CLIPBOARD_HANDLING.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/43c81c98c54c26db/17_MOUSE_EVENTS.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/4c3da9cefd0dfebd/32_TEXT_INPUT_AND_CLIPBOARD_HANDLING.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/4e2068b2be5491d8/32_TEXT_INPUT_AND_CLIPBOARD_HANDLING.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/4eeee2b7151a4df9/VARIABLES.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/58c03fc467c4fa3c/MAIN.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/597acf8f7409f5b1/03_EVENT_DRIVEN_PROGRAMMING.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/5bc126a8507063b4/43_RENDER_TO_TEXTURE.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/5cf139f535f16d1d/ZADANIE 1.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/62552e0412af2e77/MAIN.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/62f57e173fde7a81/VARIABLESR.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/6624f73c98ab3cf6/MAIN.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/674090355c286313/43_RENDER_TO_TEXTURE.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/69bb8be1a9f0e8c2/MAIN.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/6a50f86c27e873b/05_OPTIMIZED_SURFACE_LOADING_AND_SOFT_STRETCHING.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/6f517914ac02c012/BASIC_MENU_OPERATION.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/70d96acf1c873a69/CLIENT.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/7151f1a8e9c2fc46/12_COLOR_MODULATION.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/75c143dacac4af1f/10_COLOR_KEYING.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/77870fffb267e5f4/03_EVENT_DRIVEN_PROGRAMMING.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/77a131f03959bac/IMGUI.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/79b6a67f6c9b785c/GRAPHICS.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/89bc68fe400b9c94/GRAPHICS_ENGINE.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/9fa3ca55e6be4aa7/07_TEXTURE_LOADING_AND_RENDERING.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/a2f6ab92a89d9880/MAIN.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/b12500299c22827b/43_RENDER_TO_TEXTURE.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/bc0cd43ae91024f/43_RENDER_TO_TEXTURE.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/be3a7830d9f747b/GLAD.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/bf629d11978a3767/09_THE_VIEWPORT.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/c194c003ad2118c0/MAIN.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/c27897065964941e/32_TEXT_INPUT_AND_CLIPBOARD_HANDLING.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/c27de91a4821a932/IMGUI.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/c2bcd39d5cb1f1cf/32_TEXT_INPUT_AND_CLIPBOARD_HANDLING.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/c6eadbd039c3bf8b/32_TEXT_INPUT_AND_CLIPBOARD_HANDLING.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/ca869fd5db5c2a5b/MAIN.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/cc97fb3e18238894/04_KEY_PRESSES.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/ccba5f78ce10de58/32_TEXT_INPUT_AND_CLIPBOARD_HANDLING.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/cdd44853a92a25ad/ALPHABET.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/cde26d643c52b85e/MAIN.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/d0b36c1e212df59c/09_THE_VIEWPORT.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/d3e833970a0847d1/07_TEXTURE_LOADING_AND_RENDERING.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/dca1e5293165e21e/1AND2_MENU_LAYERS.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/ecc1ffd1258adcd5/06_EXTENSION_LIBRARIES_AND_LOADING_OTHER_IMAGE_FORMATS.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/f075c3f8ba62801/13_ALPHA_BLENDING.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/f83de5fa6d76597/FUNCTION_DEC.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/f8f92d6d213ad215/MAIN.ipch
.vs/Sterllaris MultiGalaxy Generator/v16/TestStore/0/000.testlog
.vs/Sterllaris MultiGalaxy Generator/v16/TestStore/0/testlog.manifest
.vs/VSWorkspaceState.json
Debug/libfreetype-6.dll
Debug/libjpeg-9.dll
Debug/libpng16-16.dll
Debug/libtiff-5.dll
Debug/libwebp-7.dll
Debug/SDL2_image.dll
Debug/SDL2_ttf.dll
Debug/Sterllaris MultiGalaxy Generator.exe
Debug/Sterllaris MultiGalaxy Generator.ilk
Debug/Sterllaris MultiGalaxy Generator.pdb
Debug/zlib1.dll
.vs/Sterllaris MultiGalaxy Generator/v16/ipch/AutoPCH/1e80314e83ef9a18/ZADANIE 1.ipch
